<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="job">Job</label>
        <input type="text" name="job">

        <button type="submit">Register Contact</button>
    </form>
</body>
</html>