<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- In this case, I'm using the same page to print different requests.
    Because of it, I have to check if the variables are defined to it don't
    raise an error on the page -->

    <p><% if(locals.item) { %>
        <h3>The selected number is: <%= item %></h3><% } %>
    </p>

    <p><% if(locals.num) { %>
        <h3>The number <%= num %> is less than 5</h3><% } %>
    </p>

    <p><% if(locals.array) { %>
        <ul>
            <% for (var i=0; i<array.length; i++) { %>
                <li><%= array[i] %></li>
            <% } } %>
        </ul>
    </p>
</body>
</html>